[package]
name = "viper"
version = "0.1.0"
description = "High-level interface to Viper"
authors = ["Federico Poli <federpoli@gmail.com>"]
license = "MPL-2.0"
readme = "README.md"

[dependencies]
log = "0.3"
error-chain = "0.11.0"
viper-sys = { path = "../viper-sys" }
jni = { version = "0.9.3", features = ["backtrace", "invocation"] }
uuid = { version = "0.4", features = ["v4"] }

[dev-dependencies]
lazy_static = "1.0"
env_logger = "0.4.3"
bencher = "0.1.5"

[[bench]]
name = "bench_program"
harness = false
