*~
*.iml
*.log
*.bk
*.bin
*.ignore
*.py[cod]
perf.*
callgrind.*
core
*.svg
Prusti.toml
report.csv
*.profraw

.workspaces/
viper_tools/
prusti_tools/
ViperToolsNightly*.zip

.project
.settings
.vscode/
.idea/
tmp/
gen/
target/

log/
nll-facts/
/design/book/
benchmark-output/
oprofile_data/
