*~
*.iml
*.log
*.bk
*.bin
*.ignore
*.pyc
perf.*
core
*.svg
Prusti.toml
report.csv

.workspaces/
viper_tools/
prusti_tools/
ViperToolsNightly*.zip

.project
.settings
.vscode/
.idea/
tmp/
gen/
target/

log/
nll-facts/
/design/book/
