[submodule "viper"]
	path = viper
	url = git@github.com:viperproject/viper.git
	branch = master
[submodule "viper-sys"]
	path = viper-sys
	url = git@github.com:viperproject/viper-sys.git
	branch = master
[submodule "prusti"]
	path = prusti
	url = git@github.com:viperproject/prusti.git
	branch = master
[submodule "prusti-interface"]
	path = prusti-interface
	url = git@github.com:viperproject/prusti-interface.git
	branch = master
[submodule "prusti_contracts"]
	path = prusti_contracts
	url = git@github.com:viperproject/prusti_contracts.git
	branch = master
[submodule "prusti-viper"]
	path = prusti-viper
	url = git@github.com:viperproject/prusti-viper.git
	branch = master
[submodule "jni-gen"]
	path = jni-gen
	url = git@github.com:viperproject/jni-gen.git
	branch = master
