[Unit]
Description=The Prusti Playground

[Service]
Environment=TMPDIR=/mnt/playground
Environment=RUST_LOG=info
Environment=PLAYGROUND_UI_ADDRESS=0.0.0.0
Environment=PLAYGROUND_UI_PORT=8080
Environment=PLAYGROUND_UI_ROOT=/prusti/rust-playground/ui/frontend/build
Environment=PLAYGROUND_CORS_ENABLED=1
Environment=PLAYGROUND_GITHUB_TOKEN=""

WorkingDirectory=/prusti/rust-playground/ui/

ExecStart=/prusti/rust-playground/ui/target/release/ui

[Install]
WantedBy=multi-user.target
