[package]
authors = ["Julian Dunskus <julian.dunskus@gmail.com>"]
description = "Server-side logic & handling for Prusti"
name = "prusti-server"
license = "MPL-2.0"
version = "0.1.0"

[lib]
test = true # we have unit tests
doctest = false # but no doc tests

[[bin]]
name = "prusti-server-driver"
path = "src/driver.rs"
test = false
doctest = false

[dependencies]
log = { version = "0.4", features = ["release_max_level_info"] }
viper = { path = "../viper" }
prusti-common = { path = "../prusti-common" }
env_logger = "0.8.2"
clap = "2.32.0"
bincode = "1.0"
futures = "0.1.24"
reqwest = "0.10.8"
warp = "0.1.11"
tokio = "0.1.11"
num_cpus = "1.8.0"
serde = { version = "1.0", features = ["derive"] }

[dev-dependencies]
lazy_static = "1.4.0"
