[package]
authors = ["Julian Dunskus <julian.dunskus@gmail.com>"]
description = "Server-side logic & handling for Prusti"
name = "prusti-server"
license = "MPL-2.0"
version = "0.1.0"
edition = "2018"

[lib]
test = true # we have unit tests
doctest = false # but no doc tests

[[bin]]
name = "prusti-server-driver"
path = "src/driver.rs"
test = false
doctest = false

[dependencies]
log = { version = "0.4", features = ["release_max_level_info"] }
viper = { path = "../viper" }
prusti-common = { path = "../prusti-common" }
env_logger = "0.9"
clap = "2.32.0"
bincode = "1.0"
url = "2.2.2"
num_cpus = "1.8.0"
serde = { version = "1.0", features = ["derive"] }
reqwest = { version = "0.11", features = ["json"] }
warp = "0.3"
tokio = { version = "1.0", features = ["rt"] }

[dev-dependencies]
lazy_static = "1.4.0"
