[package]
name = "prusti-contracts"
version = "0.2.0"
authors = ["Prusti Devs <prusti_developers@sympa.ethz.ch>"]
edition = "2021"
license = "MPL-2.0"
description = "Tools for specifying contracts with Prusti"
homepage = "https://www.pm.inf.ethz.ch/research/prusti.html"
repository = "https://github.com/viperproject/prusti-dev/tree/master/prusti-contracts/prusti-contracts/"
readme = "README.md"
keywords = ["prusti", "contracts", "verification", "formal", "specifications"]
categories = ["development-tools", "development-tools::testing"]

[dependencies]
prusti-contracts-proc-macros = { path = "../prusti-contracts-proc-macros", version = "0.2.0" }

[dev-dependencies]
trybuild = "1.0"

# Forward "prusti" flag
[features]
prusti = ["prusti-contracts-proc-macros/prusti"]
