[package]
name = "prusti-specs"
version = "0.1.7"
authors = ["Prusti Devs <prusti_developers@sympa.ethz.ch>"]
edition = "2021"
license = "MPL-2.0"
description = "Internal Prusti crate for parsing specifications"
homepage = "https://www.pm.inf.ethz.ch/research/prusti.html"
repository = "https://github.com/viperproject/prusti-dev/prusti-contracts/prusti-specs/"
readme = "README.md"
keywords = ["prusti"]
categories = ["development-tools", "development-tools::testing"]

[lib]
doctest = false # we have no doc tests

[dependencies]
syn = { version = "1.0", features = ["full", "extra-traits", "visit", "visit-mut", "parsing", "printing"] }
quote = "1.0"
proc-macro2 = "1.0"
uuid = { version = "1.0", features = ["v4"] }
itertools = "0.10.3"
rustc-hash = "1.1.0"
