[package]
name = "prusti-tests"
version = "0.2.0"
authors = ["Federico Poli <federpoli@gmail.com>"]
edition = "2018"

[dev-dependencies]
compiletest_rs = "0.5.0"
prusti-server = { path = "../prusti-server" }
