[package]
name = "prusti"
version = "0.2.0"
authors = ["Vytautas Astrauskas <vastrauskas@gmail.com>"]
edition = "2018"

[[bin]]
name = "prusti-driver"
path = "src/driver.rs"
test = false # we have no unit tests
doctest = false # and no doc tests

[dependencies]
env_logger = "0.7.1"
prusti-contracts = { path = "../prusti-contracts", features = ["prusti"] }
prusti-contracts-internal = { path = "../prusti-contracts-internal" }
prusti-specs = { path = "../prusti-specs" }
prusti-interface = { path = "../prusti-interface" }
prusti-viper = { path = "../prusti-viper" }
prusti-common = { path = "../prusti-common" }
log = { version = "0.4", features = ["release_max_level_info"] }
regex = "1.4.2"
lazy_static = "1.4.0"

[build-dependencies]
chrono = "0.4"
